#Enode Pointing
bootnodes=["enode://1fd6bfa1ac606ab3cdbbbacef1b27a1e38b0ac54d5c1a361d07a27211b54b4817aa9b14e596f23c7020d246998f5224ae18882b181dad2ee940d774a085eb7bd@157.245.21.183:30303","enode://5bca2ebdd0f8e6eb7d916ac92edd3a3ca9f18f99c869c2df703c0457d572b3f7baa8e70880a751204988d97d90fe0566ac5917603981248121e3fc428dee25aa@157.230.28.40:30303"]

#Bitrock Genesis File
genesis-file="[PATH]/mainnetgenesis.json"

#Data directory
data-path="[PATH]/bitrock_node

#Chain Configuration 
rpc-http-enabled=true
rpc-ws-enabled=true
host-allowlist=["*"]
sync-mode=["FULL"]
rpc-http-host=[IPHOST]
rpc-ws-host=[IPHOST]
rpc-http-cors-origins=["all"]

#API Method
rpc-http-api=["ETH","NET","WEB3","TXPOOL","TRACE"]
rpc-ws-api=["ETH","NET","WEB3","TXPOOL","TRACE"]